html {
    background-color: #fff;
}

#app {
    background-color: #fff;
}

.navbar-default {
    background-color: #8d386d;
    color: #fff;
    border-color: none;
}

.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.navbar>.container .navbar-brand:hover, 
.navbar>.container-fluid .navbar-brand {
    color: #fff;
}


.btn-primary, 
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:active, 
.btn-primary.active,
.btn-primary:visited, 
.btn-primary.visited,
.btn-primary:focus, 
.btn-primary.focus {
  color: #fff;
  background-color: rgb(166, 51, 183);
  border-color: rgb(141, 46, 164);
}

.btn-info, 
.btn-info:hover, 
.btn-info.hover,
.btn-info:active, 
.btn-info.active
.btn-info:focus,
.btn-info.focus,
.btn-info:visited,
.btn-info.visited {
  background-color: #e87816;
  border: solid 1px #ee7816;
  color: #000 !important;
}
.btn-info:hover, 
.btn-info.hover,
.btn-info:active, 
.btn-info.active
.btn-info:focus,
.btn-info.focus {
  background-color: #e87816;
  border: solid 1px #ee7816;
}

.alert-success {
  color: #1d181d;
  background-color: #efd8f0;
  border-color: #e6c6e9;
}